@section startCss{
    <link rel="stylesheet" href="~/css/dashboard.css" />
}




    <!-- 	<div class="blog">Visit <a href="#" target="_blank">My Blog</a></div> -->
    
        <div class="leaderboard">
            <div class="head">
                <i class="fas fa-crown"></i>
                <h1>Most active Players</h1>
            </div>
            <div class="body">
                <ol>
                    <li>
                        <span class="lideranca"></span>
                        <small>948</small>
                    </li>
                    <li>
                        <mark class="lideranca">Brandon Barnes</mark>
                        <small>750</small>
                    </li>
                    <li>
                        <mark class="lideranca">Raymond Knight</mark>
                        <small>684</small>
                    </li>
                    <li>
                        <mark class="lideranca">Trevor McCormick</mark>
                        <small>335</small>
                    </li>
                    <li>
                        <mark class="lideranca">Andrew Fox</mark>
                        <small>296</small>
                    </li>
                </ol>
            </div>
        </div>
   



    @section scripts{
    <script type="text/javascript" src="~/js/dashboard.js"></script>
}



